.header {
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12), inset 0 12px 24px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(255, 255, 255, 0.67);
  padding: 6px 20px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 86px;
}

.titleDateContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px;
  margin-bottom: 16px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.01em;
}

.date {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.03em;
  color: #3d8eda;
  padding: 6px 12px;
  border: 1px solid #3d8eda;
  border-radius: 2px;
}

.statsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px;
  margin-bottom: 18px;
}

.statsText {
  font-weight: 400;
  font-size: 14px;

  span {
    font-weight: 700;
  }
}

.formContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.formContainer {
  gap: 11px;
}

@media screen and (max-width:767px) {
  .header {
    gap: 40px;
  }

  .formContainer {
    justify-content: center;
  }
}

@media screen and (max-width:395px) {

  .titleDateContainer,
  .statsList,
  .formContainer {
    gap: 12px;
  }
}

@media screen and (max-width:379px) {

  .titleDateContainer,
  .statsList {
    justify-content: center;
    margin-bottom: 28px;
  }

  .formContainer {
    margin-bottom: 0;
  }
}