.statsSection {
  padding: 18px 0;
  width: 100%;
  max-width: 964px;
  margin: 0 auto;
}

.buttonList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 24px;
}

.buttonButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttonIcon {
  fill: #c8c8c8;

  .buttonButton:hover &,
  .buttonButton:focus & {
    fill: #3d8eda;
  }
}

.active {
  fill: #3d8eda;
}

.loadMoreButton {
  font-weight: 500;
  font-size: 11px;
  letter-spacing: -0.03em;
  color: #929292;
  background-color: transparent;
  border: 1px solid #929292;
  border-radius: 14px;
  padding: 8px;
  min-width: 110px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: #3d8eda;
    color: #3d8eda;
  }
}